/* advertising styles */

.ad-square75 { height: 75px; margin: 0 0 10px 0; }
.ad-smbutton { height: 30px; margin: 0 0 10px 0; }
.ad-mdbutton { height: 100px; margin: 0 0 10px 0; }
.ad-button { height: 60px; margin: 0 0 10px 0; }
.ad-lgbutton { height: 90px; margin: 0 0 10px 0; }
.ad-vertbanner { height: 240px; margin: 0 0 10px 0; }
.ad-tower { height: 600px; margin: 0 0 10px 0; }
.ad-smsquare { height: 125px; margin: 0 0 10px 0; }
.ad-mdrectangle { height: 100px; margin: 0 0 10px 0; }
.ad-widetower { height: 600px; margin: 0 0 10px 0; }
.ad-rectangle { height: 150px; margin: 0 0 10px 0; }
.ad-house200 { height: 74px; margin: 0 0 10px 0; }
.ad-circ205 { height: 90px; margin: 0 0 10px 0; }
.ad-halfbanner { height: 60px; margin: 0 0 10px 0; }
.ad-spotlight { height: 400px; margin: 0 0 10px 0; }
.ad-feature { height: 165px; margin: 0 0 10px 0; }
.ad-vertrectangle { height: 400px; margin: 0 0 10px 0; }
.ad-lgsquare { height: 250px; margin: 0 0 10px 0; }
.ad-fraction300 { height: 60px; margin: 0 0 10px 0; }
.ad-small300 { height: 125px; margin: 0 0 10px 0; }
.ad-square300 { height: 250px; margin: 0 0 10px 0; }
.ad-square { height: 300px; margin: 0 0 10px 0; }
.ad-halfpage { height: 600px; margin: 0 0 10px 0; }
.ad-fraction336 { height: 60px; margin: 0 0 10px 0; }
.ad-small336 { height: 125px; margin: 0 0 10px 0; }
.ad-boombox { height: 280px; margin: 0 0 10px 0; }
.ad-fullpage { height: 850px; margin: 0 0 10px 0; }
.ad-banner { height: 60px; margin: 0 0 10px 0; }
.ad-introstitial { display: none; height: 480px; margin: 0 0 10px 0; }
.ad-intrositial600 { display: none; height: 600px; margin: 0 0 10px 0; }
.ad-intrositialbig { display: none; height: 800px; margin: 0 0 10px 0; }
.ad-fullbanner { height: 90px; margin: 0 0 10px 0; }